*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-decoration: none;
}

#app-container {
  border: 1px solid #ccc;
  height: 1536px;
  margin-top: -374px;
  margin-left: -512px;
  position: absolute; top: 50%; left: 50%;
  width: 2048px;
}
