/**
 * Modify the default spacing between objects (not between nodes of the same object)
 *
 * p, m                = padding,margin
 * a, t, r, b, l, h, v = all,top,right,bottom,left,horizontal,vertical
 * x, s, m, l, n       = extra small, small, medium, large space or none
 */

.m8 {
  margin-left: 8px;
  margin-top: 8px;
}

.m7 {
  margin-left: 8px;
  margin-top: 7px;
}

.m8-top {
margin-top: 8px;
}

.m8-left {
margin-left: 8px;
}

.m7-top {
margin-top: 7px;
}

.m7-left {
margin-left: 7px;
}

.m77-left {
margin-left: 7px;
margin-top: 7px;
}







.ptn, .pvn, .pan {
  padding-top: 0;
}

.ptx, .pvx, .pax {
  padding-top: 5px;
}

.pts, .pvs, .pas {
  padding-top: 10px;
}

.ptm, .pvm, .pam {
  padding-top: 20px;
}

.ptl, .pvl, .pal {
  padding-top: 40px;
}
.p-cal{
  padding-left: 25px;
  padding-top: 30px;
}

.prn, .phn, .pan {
  padding-right: 0;
}

.prx, .phx, .pax {
  padding-right: 5px;
}

.prs, .phs, .pas {
  padding-right: 10px;
}

.prm, .phm, .pam {
  padding-right: 20px;
}

.prl, .phl, .pal {
  padding-right: 40px;
}

.pbn, .pvn, .pan {
  padding-bottom: 0;
}

.pbx, .pvx, .pax {
  padding-bottom: 5px;
}

.pbs, .pvs, .pas {
  padding-bottom: 10px;
}

.pbm, .pvm, .pam {
  padding-bottom: 20px;
}

.pbl, .pvl, .pal {
  padding-bottom: 40px;
}

.pln, .phn, .pan {
  padding-left: 0;
}

.plx, .phx, .pax {
  padding-left: 5px;
}

.pls, .phs, .pas {
  padding-left: 10px;
}

.plm, .phm, .pam {
  padding-left: 20px;
}

.pll, .phl, .pal {
  padding-left: 40px;
}

.mtn, .mvn, .man {
  margin-top: 0px;
}

.mtx, .mvx, .max {
  margin-top: 5px;
}

.mts, .mvs, .mas {
  margin-top: 10px;
}

.mtm, .mvm, .mam {
  margin-top: 20px;
}

.mtl, .mvl, .mal {
  margin-top: 40px;
}

.mrn, .mhn, .man {
  margin-right: 0px;
}

.mrx, .mhx, .max {
  margin-right: 5px;
}

.mrs, .mhs, .mas {
  margin-right: 10px;
}

.mrm, .mhm, .mam {
  margin-right: 20px;
}

.mrl, .mhl, .mal {
  margin-right: 40px;
}

.mbn, .mvn, .man {
  margin-bottom: 0px;
}

.mbx, .mvx, .max {
  margin-bottom: 5px;
}

.mbs, .mvs, .mas {
  margin-bottom: 10px;
}

.mbm, .mvm, .mam {
  margin-bottom: 20px;
}

.mbl, .mvl, .mal {
  margin-bottom: 40px;
}

.mln, .mhn, .man {
  margin-left: 0px;
}
.mhelp{
  margin-left: 500px;
  padding-top: 20px;
}
.mlx, .mhx, .max {
  margin-left: 5px;
}

.mls, .mhs, .mas {
  margin-left: 10px;
}

.mlm, .mhm, .mam {
  margin-left: 20px;
}

.mll, .mhl, .mal {
  margin-left: 40px;
}

.mll_h {
  margin-left: 45px;
}

.mtl_h {
  margin-top: 45px;
}

