/* Styleguide for CSS components
----------------------------------------------- */
[data-component] {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  margin: 60px;
  padding: 30px;
  position: relative;
}

[data-component]:before {
  background: #eee;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #555;
  content: attr(data-component);
  display: inline-block;
  opacity: 0.8;
  padding: 3px 8px 4px 5px;
  position: absolute; top: 0; left: 0;
  text-shadow: 0px 1px 1px #fff;
}

[data-component]:hover:before {
  display: none;
}

[data-component] > hr {
  background: #ddd;
  border: none;
  height: 1px;
  margin: 10px 0;
  padding: 0;
}

.styleguide-title {
  color: #09F;
  font-size: 38px;
  margin: 60px;
}

.styleguide-box {
  border: 1px solid red;
  min-height: 50px;
  min-width: 50px;
}

.btn-buy{
  color: white;
  background-color: rgb(0,67,160);
}

.btn-blue{
  color: white;
  background-color: rgb(86,99,115);
}

.btn-red{
  color: white;
  background-color: rgb(157,26,54);
}

.navi-gray{
  color: rgb(87,94,105);
  background-color: rgb(234,234,234);
}

.txt-gray{
  color: rgb(87,94,105);
  background-color: rgb(221,221,222);
}   

.info-blue{
  color: rgb(87,94,105);
  background-color: rgb(208,215,231);
} 

.btn-help{
  color: rgb(87,94,105);
  background-color: rgb(208,215,231);
}

.btn-1of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 145px;
}

.btn-2of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 298px;
}

.btn-3of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 451px;
}

.btn-4of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 604px;
}

.btn-5of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 757px;
}

.btn-6of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 910px;
}

.btn-7of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 1063px;
}

.btn-8of10{
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 1216px;
}