*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

#app-container {
  border: 1px solid #ccc;
  height: 748px;
  margin-left: -512px;
  position: absolute; left: 50%;
  width: 1024px;

}

#header{
  height: 50px;
  width: 100%;
  background-image: url(../IMG/logo.png);
  background-repeat:no-repeat;
  background-position: right;
  background-color: #ffffff;
}

#middle{
  height: 638px;
  width: 100%;

}

#footer{
  height: 60px;
  width: 100%;
}

.button{
  background-color: #666666;
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  border-radius: 7px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 12px 2px;
  height: 60px;
  margin-top: 5px;
}
